/*------------------------------------*\
#SETTINGS
\*------------------------------------*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
/*------------------------------------*\
#GENERIC
\*------------------------------------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Yantramanav", sans-serif;
  font-size: 1rem;
  position: relative;
}

/*------------------------------------*\
#ELEMENTS
\*------------------------------------*/
h1,
h2,
h3 {
  font-family: "Merriweather", serif;
}

h1,
h2 {
  color: #543f26;
  text-align: center;
}

h1 {
  font-size: 3rem;
  padding: 10rem 0 2rem 0;
}

h2 {
  font-size: 2rem;
  padding: 4rem;
}

h3 {
  padding: 1rem 0;
}

section {
  padding: 4rem 0 0 0;
}

iframe {
  width: 100%;
  padding: 0;
}

footer section {
  padding: 0;
}

footer .form-control {
  background-color: #cabeae;
  border: none;
}

footer .form-control:focus {
  background-color: #cabeae;
}

video {
  width: 100%;
  height: auto;
}

a {
  -webkit-transition: color 0.7s;
  transition: color 0.7s;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/
/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/
.c-image {
  background-color: #5d513c;
  margin: 2rem 0;
  padding: 2rem 0;
}

.c-image__video {
  margin: 0;
}

.c-overons p {
  padding: 1rem 0;
  margin: 0;
}

@media only screen and (min-width: 993px) {
  .c-overons p {
    padding: 2rem;
  }
}

.c-link {
  color: #543f26;
  text-decoration: none;
}

.c-link:hover {
  color: #cabeae;
}

.c-button {
  padding: 0.7rem 0.7rem;
  border: none;
  border-radius: 10px;
  background-color: #543f26;
  color: white;
  -webkit-transition: background-color 0.7s;
  transition: background-color 0.7s;
  margin-bottom: 3rem;
}

.c-button:hover {
  background-color: #cabeae;
}

.c-logos {
  margin: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.c-logos--logo {
  list-style-type: none;
  padding: 2rem;
}

.c-googlemaps {
  background-color: black;
  margin-top: 4rem;
}

.c-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.c-icons--icon {
  list-style-type: none;
  margin: 2rem;
}

.c-icons--icon i {
  font-size: 2rem;
}

.c-footer {
  background-color: black;
  color: white;
  padding-top: 2rem;
}

.c-footer i {
  font-size: "Yantramanav", sans-serif;
}

.c-footer a {
  color: white;
}

.c-footer a:hover {
  color: #cabeae;
}

.c-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.c-socials--icon {
  list-style-type: none;
  margin-left: 1rem;
}

.c-copy {
  font-size: 0.8rem;
}

.c-capture__howest {
  font-size: 0.6rem;
}

/*------------------------------------*\
#BOOTSTRAP
\*------------------------------------*/
.navbar {
  background-color: #cabeae;
}

.nav-link {
  color: #543f26;
}

.nav-link:hover {
  text-decoration: underline;
  color: #543f26;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #543f26;
  text-decoration: underline;
  background-color: #cabeae;
}

.navbar-toggler-icon {
  background-image: url(../images/hamburger.png);
  border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.carousel-indicators [data-bs-target] {
  background-color: #cabeae;
}

.carousel-control-next-icon {
  background-image: url(../images/arrowright.png);
}

.carousel-control-prev-icon {
  background-image: url(../images/arrowleft.png);
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: white;
  -webkit-box-shadow: inset 0 -0.34px 0 #543f26;
          box-shadow: inset 0 -0.34px 0 #543f26;
}

.accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #5d513c;
}

.accordion-button:after {
  background-image: url(../images/arrowdown.png);
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../images//arrowdown.png);
}

.accordion-item {
  border: 1px solid #5d513c;
}

.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #5d513c;
  border-bottom: 3px solid #5d513c;
}

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/
